@charset "utf-8";

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/* Web Fonts - Source Sans Pro */ 
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
/* font-family: 'Source Sans Pro', sans-serif; */

/* Web Fonts - NoonNoo */ 
@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
#chooseFile {
  visibility: hidden;
}
/* Reset CSS */
* { 
  box-sizing: border-box;
}
a { 
  text-decoration: none;
  color: #222;
}
button, input {
  outline: none;
}
h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  font-weight: normal;
  line-height: 1.5em;
}

/* Default CSS */
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'NEXON Lv2 Gothic', sans-serif;
  font-size: 18px;
  line-height: 1.7em;
  margin: 0;
  background-color: #fff;
  color: #222;
}
body.active {
  overflow: hidden;
}
section {
  padding: 120px 0 80px 0;
}

/* Common CSS */
.headline-share {

  text-align: center;
}
.headline-share h1 {
  position: relative; 
  padding-bottom: 20px;
  font-size: 40px;
}
.headline-share h1:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 5px;
  background:linear-gradient(to right, #1f8de6, #5ed6fe);
}
.headline-share p {
  font-size: 20px;
}
.btn-top {
  position: fixed;
  bottom: -50px;
  right: 20px;
  width: 40px;
  height: 40px;
  line-height: 43px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  transition: .5s;
}
.btn-top.active {
  bottom: 20px;
}
.ally-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
/* --------------- Header --------------- */
header {
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: .5s;
}
header.active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.header-inner {
  width: 1300px;
  margin: 0 auto;
  overflow: hidden;
  padding: 30px 0 15px 0;
}
.logo {
  float: left;
}
.logo img {
  margin-top: -7px;
}
.gnb {
  float: right;
}
.gnb a {
  margin: 10px;
  font-size: 16px;
}

/* --------------- Section : welcome --------------- */
#slpeeing{
  opacity: 0.5;
}

.welcome {
  height: 90vh;
  padding: 0;
  position: relative;
}
.welcome-heading {
  width: 750px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 200px;
  text-align: center;
}
.welcome-heading span {
  font-size: 24px;
}
.welcome-heading h1 {
  margin-bottom: 30px;
  margin-top: 15px;
  line-height: 1.2em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}
.welcome-heading h1 em {
  display: block;
  font-style: normal;
  color: #eb4d4b;
}
.welcome-heading p {
  margin-bottom: 50px;
  padding: 0 85px;
}
.welcome-btns .btn {
  display:inline-block;
  width: 160px;
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  color: #fff;
  transition: 0.5s;
}
.welcome-btns .btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}
.btn.start {
  background-color: #0abde3;
}
.btn.guide {
  background-color: #fff;
  color: #222;
}
/* Mouse Wheele */
.mouse {
  width: 32px;
  height: 45px;
  position: absolute;
  bottom: 100px;
  left: 230px;
  border: 2px solid #ccc;
  border-radius: 30px;
}
.wheele {
  width: 3px;
  height: 15px;
  position: absolute;
  top: 10px;
  left: 12px;
  border-radius: 4px;
  background-color: #ccc;
  animation: wheele 1.8s linear infinite;
}
@keyframes wheele {
    0% {
      top: 10px;
    }
    50% {
      top: 20px;
    }
    100%{
      top: 10px;
    }
}

/* --------------- Section :  /  --------------- */
.car_crashh {
  padding-bottom: 0;
}
.ceo-inner,
.access-inner {
  width: 1300px;
  margin: auto;
}
.ceo-content {
  padding-bottom: 50px;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}
.ceo-content > div {
  float: left;
  width: 50%;
}
.ceo-left {
  padding-right: 50px;
}
.ceo-left img {
  width: 30px;
  filter: invert(41%) sepia(52%) saturate(1605%) hue-rotate(132deg) brightness(89%) contrast(101%);
}
.ceo-left h3 {
  font-weight: bold;
}
.ceo-right {
  text-align: center;
}
.ceo-right > div {
  float: left;
  padding: 20px;
}
.info {
  width: 60%;
}
.info h3 {
  font-size: 28px;
  color: #009b72;
}
.info h3 span {
  display: block;
}
.graph {
  width: 40%;
}
.graph img {
  width: 100%;
  border-radius: 15px;
}

/* --------------- Section  / access --------------- */
.access-content {
  padding-top: 50px;
  overflow: hidden;
}
.access-content > div {
  float: left;
  width: 50%;
}
.access-left {
  padding: 50px 50px 0 0;
}
.access-left h2 {
  font-size: 34px;
}
.access-left p {
  margin-bottom: 30px;
}
.access-right {
  text-align: center;
}
.access-right img {
  float: right;
  display: block;
} 
.btn-download a {
  display: inline-block;
  height: 60px;
}
/* --------------- Section : banner  --------------- */
.banner {
  padding: 0;
  background: url('../images/wave-line.png') no-repeat center right 100px,  linear-gradient(to right, #69acfe, #6eaefd);
  background-size: 80px;
}
.banner-inner {
  width: 1300px;
  margin: auto;
}
.banner-content {
  padding: 40px 0;
  overflow: hidden;
}
.banner-content input[name=tabMenu] {
  display: none;
}
.banner-content > div {
  float: left;
}
.tab-btn {
  width: 55%;
}
.tab-btn label {
  display: inline-block;
  width: 30%;
  margin: 5px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.tab-btn label em {
  display: inline-block;
  width: 110px;
  height: 110px;
  padding-top: 10%;
  border-radius: 50%;
  text-align: center;
  background-color: #fff;
}
.tab-btn label em img {
  width: 60px;
  filter: invert(53%) sepia(97%) saturate(524%) hue-rotate(188deg) brightness(103%) contrast(99%);
}
.tab-btn span {
  display: block;
  margin-top: 10px;
}
.tabs {
  width: 45%;
}
.tab {
  display: none;
  padding: 30px 0 0 30px;
  color: #fff;
}
.tab h2 {
  font-size: 32px;
  font-weight: bold;
}

/* Checked Function */
input[id=tab1]:checked ~ .tabs .tab1,
input[id=tab2]:checked ~ .tabs .tab2,
input[id=tab3]:checked ~ .tabs .tab3{
  display: block;
}
input[id=tab1]:checked ~ .tab-btn label[for=tab1] em,
input[id=tab2]:checked ~ .tab-btn label[for=tab2] em, 
input[id=tab3]:checked ~ .tab-btn label[for=tab3] em {
  background-color: #34495e;
}
input[id=tab1]:checked ~ .tab-btn label[for=tab1] em img,
input[id=tab2]:checked ~ .tab-btn label[for=tab2] em img, 
input[id=tab3]:checked ~ .tab-btn label[for=tab3] em img {
  filter: invert();
}
input[id=tab1]:checked ~ .tab-btn label[for=tab1] span,
input[id=tab2]:checked ~ .tab-btn label[for=tab2] span, 
input[id=tab3]:checked ~ .tab-btn label[for=tab3] span {
  color: #34495e;
} 

/* --------------- Section : Feature --------------- */
.feature {
  padding-bottom: 0;
}
.feature-inner {
  width: 1300px;
  margin: auto;
}
.feature-content {
  margin: 100px 0 120px 0;
  overflow: hidden;
}
.feature-content:last-of-type {
  margin-bottom: 10px;
}
.feature-content > div {
  float: left;
  width: 50%;
  text-align: center;
} 
.feature-about {
  padding: 80px 60px 0 60px;
}
.feature-about h2 {
font-size: 30px;
}

/* --------------- Section : vision --------------- */
.vision {
  padding-bottom: 0;
}
.vision-content {
  overflow: hidden;
}
.vision-content > div {
  width: 33.33%;
  height: 400px;
  float: left;
}
.vision-item-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
}
.vision-item-headline {
  width: 70%;
}
.vision-item-headline h3 {
  margin-bottom: 0;
  font-size: 28px;
}
.vision-item-headline hr {
  width: 45px;
  height: 3px;
  border: none;
  background-color: #9b59b6;
  display: inline-block;
}
.vision-item-headline p {
  margin-top: 0;
}
.vision-item-photo img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

/* --------------- Section : faq --------------- */
.faq-inner {
  width: 1300px;
  margin: auto;
}
.faq-content {
  overflow: hidden;
}
.faq-content > div {
  float: left;
  width: 50%;
  padding: 25px;
  min-height: 720px;
}

/* faq-accordion */
.faq-item {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.faq-title {
  margin: 0;
  font-size: 18px;
  color: #4c98e4;
  cursor: pointer;
}
.faq-title:after {
  content: '\f105';
  font-family: fontawesome;
  float: right;
  color: #444;
  transition: .35s;
}
.faq-desc {
  display: none;
  margin-top: 15px;
}
.faq-item.active {
  border: 1px solid #7dbeff;
}
.faq-item.active .faq-title:after {
  color: #7dbeff;
  transform: rotate(90deg);
}
/*awards-content */
.awards-content {
  text-align: center;
}
.award-image {
  position: relative;
  margin-bottom: 40px;
}
.award-image:after {
  content: 'december 9, 2020';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 185px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
}
.award-image img {
  width: 100%;
}
.awards-content h2 {
  font-size: 36px;
  color: #e7a300;
}
.awards-content p {
  margin-bottom: 40px;
}
.btn-awards {
  padding: 13px 20px;
  transition: .35s;
  border: 1px solid #000;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
}
.btn-awards:hover {
  color: #fff;
  background-color: crimson;
  border: 1px solid transparent;
}

/* --------------- Section : review --------------- */
.review {
  background-color: #f9f9f9;
}
.review-inner {
  width: 1300px;
  margin: auto;
}
.review-content {
  width: 1000px;
  margin: auto;
  text-align: center;
}
h1.slogan {
  font-size: 36px;
}
.review-slider div {
  outline: none;
}
.review-slider div p {  
  padding: 0 65px;
}
.review-slider div p span{
  display: block;
}

/* Review Slider */
.review-slider .slick-dots li button:before {
  opacity: 1;
  transform: scale(0.8);
}
.review-slider .slick-dots li.slick-active button:before {
  top: -2px;
  transform: scale(0.6);
  color: transparent;
  border: 2px solid #000;
  border-radius: 50%;
}
.review-slider .slick-prev:before,
.review-slider .slick-next:before {
  content: "\f104";
  font-family: fontawesome;
  font-size: 30px;
  opacity: 1;
  color: #000;
}
.review-slider .slick-next:before {
  display: block;
  transform: rotateY(180deg);
}

/* --------------- Section : focus --------------- */
.focus-inner {
  width: 1300px;
  margin: auto;
}
.focus-content { 
  padding: 50px 0;
  text-align: center;
  border-bottom: 1px solid #eee;
}
.focus-item {
  display: inline-block;
  width: 30%;
  padding: 0 50px;
}
.focus-item img {
  width: 75px;
  filter: invert(96%) sepia(5%) saturate(3160%) hue-rotate(304deg) brightness(91%) contrast(96%);
}
.focus-item h3 {
  margin-bottom: 0;
  font-weight: bold;
}
.focus-item i {
  font-size: 5px;
  transform: rotate(45deg);
}
.focus-item p {
  margin-top: 0;
}

/* --------------- Section : guide --------------- */
.guide {
  padding-top: 0;
}
.guide-inner {
  width: 1300px;
  margin: auto;
}
.guide-content {
  overflow: hidden;
}
.guide-content > div {
  float: left;
}
.guide-slider {
  width: 50%;
  text-align: center;
}
.slider-mockup {
  display: inline-block;
  position: relative;
}
.mockup-slider {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 560px;
  border-radius: 10px;
  overflow: hidden;
}
.guide-video {
  width: 50%;
  margin-top: 30px;
}
.guide-video h1 {
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
}
.guide-video h1 span {
  color: #eb4d4b;
}
.video-headline {
  font-size: 34px;
}
.video-headline img {
  margin-top: -2px;
  padding-right: 10px;
  vertical-align: middle;
} 
.video-frame {
  width: 530px;
  height: 370px;
  position: relative;
}
.video-frame img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 5px;
}
.video-frame .fa {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: #fff;
  opacity: .5;
  cursor: pointer;
}

/* Mockup slider */
.mockup-slider .slick-dots {
  bottom: 10px;
}

.mockup-slider .slick-dots li {
  margin: 0;
}

/* --------------- Section : news --------------- */
.news {
  background-color: #f9f9f9;
}
.news-inner {
  width: 1300px;
  margin: auto;
}
.news-content {
  width: 95%;
  margin: auto;
  padding-bottom: 50px;
  overflow: hidden;
}
.news-content > div {
  width: 50%;
  float: left;
}
.news-big {
  width: 550px;
  height: 550px;
  margin: auto;
  position: relative;
  cursor: pointer;
}
.news-big:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: .5s;
  background-color: rgba(0, 0, 0, 0.7);
}
.news-big:hover:before {
  background-color: rgba(0, 0, 0, 0.5);
}
.news-big img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.news-headline {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.news-headline h2 {
  font-size: 32px;
}
.news-headline .date {
  display: block;
  margin-top: 20px;
  font-size: 14px;
}
.news-headline a {
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 5px;
  color: #fff;
  background-color: #000;
}
.news-right {
  height: 550px;
  margin: auto;
}
.news-items {
  width: 280px;
  float: left;
}
.news-items:first-of-type {
  margin-right: 30px;
}
.news-thum {
  cursor: pointer;
}
.news-thum:first-of-type {
  margin-bottom: 30px;
}
.news-thum:hover img {
  transform: scale(1.1);
}
.news-thum p {
  font-size: 16px;
  margin: 0
}
.news-thum .date {
  display: block;
  text-align: right;
  font-size: 14px;
}
.news-photo {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.news-photo img {
  display: block;
  transition:.5s;
}
.badge {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 5px;
  font-size: 13px;
  color: #fff;
}
.badge.new {
  background-color: #000;
}
.badge.hot {
  background-color: crimson;
}
.btn-readmore { 
  display: block;
  width: 180px;
  margin: auto;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-radius: 20px;
  color: #fff;
  background-color: #7b9acc;
  transition: .5s;
}
.btn-readmore:hover {
  background-color: #37466c;
}
/* --------------- Footer --------------- */
footer {
  padding: 60px 0;
  font-size: 14px;
  color: #bdbdbd;
  background-color: #21325b;
}
.footer-inner {
  width: 1300px;
  margin: auto;
}
.footer-content {
  overflow: hidden;
}
.footer-content > div {
  float: left;
}
.footer-content p {
  margin: 0;
}
.footer-logo {
  width: 15%;
}
.footer-logo a { 
  display: block;
}
.footer-logo img {
  filter: grayscale(1);
}
.copyright {
  width: 85%;
}
.policy-sns {
  overflow: hidden;
  border-bottom: 1px solid #32456e;
  padding-bottom: 20px;
}
.policy {
  float: left;
}
.policy a {
  color: #bdbdbd;
}
.policy span > span {
  margin: 5px; 
  color: #777;
}
.sns {
  float: right;
}
.sns i {
  width: 25px;
  height: 25px;
  margin: 1px;
  line-height: 25px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  border-radius: 5px;
  background-color: #37466c;
  transition: 0.5s;
}
.sns i:hover {
  background-color: #000;
}
.address {
  padding-top: 20px;
}
.pc {
  margin: 0 5px;
  color: #777;
}
/* --------------- Video modal --------------- */
.video-modal {
  display: none;
  background-color: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 40px;
  color: #fff;
}
.video-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-content iframe {
  width: 800px;
  height: 450px;
}

/* --------------- Scroll Reveal CSS Animation --------------- */
.ltr {
  animation: ltr .5s linear both;
}
.rtl {
  animation: rtl .5s linear both;
}
.utd {
  animation: utd .5s linear both;
}
@keyframes ltr {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes rtl {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes utd {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Section Display */
/* header {display: none;} */
/* .welcome {display: none;}
.ceo-access {display: none;}
.banner {display: none;}
.feature {display: none;}
.vision {display: none;}
.faq {display: none;}
.review {display: none;}
.focus {display: none;}
.guide {display: none;}
.news {display: none;}
footer {display: none;} */
